[user]
	name = co
	email = coer@kth.se
[color]
	branch = true
	#diff = true
	interactive = true
	status = true
[diff]
	external = git_diff_wrapper
[pager]
	diff =
[alias]
	st = status
	ch = checkout
	br = branch
	tree = log --graph --full-history --all --pretty=format:"%x1b%h%x09%x1b%d%x1b%x20%s"
